@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-handle {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #1153aa;
    opacity: 0.75;
    border-radius: 4px;
}

.custom-handle-se {
    bottom: -4px;
    right: -4px;
    cursor: se-resize;
}

.w-full {
    width: 100%;   
}